.account-details {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  background: #ffffff;
}

.account-details input,
.account-details button {
  padding: 12px 20px;
  margin-top: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block;
  width: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
}

.account-details button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.account-details button:hover {
  background-color: #45a049;
}

.account-details input {
  margin-bottom: 10px;
  width: 94%;
}

.account-details a {
  display: block;
  margin-top: 10px;
  color: #4CAF50;
  text-decoration: none;
}

.account-details a:hover {
  color: #45a049;
}
