.home-page {
  position: relative;
  padding: 20px;
  text-align: center; /* Wyśrodkowanie treści */
  background-color: #fff; /* Zachowanie białego tła */
  color: #333; /* Ustawienie koloru tekstu na ciemniejszy dla lepszej czytelności */
}

.intro-text {
  max-width: 600px; /* Ograniczenie szerokości tekstu */
  margin: 0 auto; /* Wyśrodkowanie bloku tekstu */
  font-size: 18px; /* Zwiększenie rozmiaru czcionki */
  line-height: 1.6; /* Ustawienie interlinii dla lepszej czytelności */
  color: #666; /* Ustawienie jaśniejszego koloru tekstu */
}

.action-buttons {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}

.primary-btn {
  background-color: #4CAF50; /* Zielony kolor dla przycisku głównego */
}

.primary-btn:hover {
  background-color: #45a049;
}

.secondary-btn {
  background-color: #008CBA; /* Niebieski kolor dla przycisku wtórnego */
}

.secondary-btn:hover {
  background-color: #007bb5;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

.content-section {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
