/* components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo img {
    width: 150px;
    height: 100px;
}

.menu-icon {
    display: none;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

/* Responsywność dla urządzeń mobilnych */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 80px;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }
}
