.account-details {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  background: #ffffff;
  margin-top: 10px;
  padding: 2px;
}

.account-details input{
  padding: 12px 20px;
  margin-top: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block;
  width: 94%;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
}

.account-details button {
  padding: 12px 20px;
  margin-top: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block;
  width: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
}

.account-details button {
  background-color: #cdb34c;
  color: white;
  border: none;
  cursor: pointer;
}

.account-details button:hover {
  background-color: #c1a944;
}

.account-details a {
  display: block;
  margin-top: 10px;
  color: #cdb34c;
  text-decoration: none;
}

.account-details a:hover {
  color: #c1a944;
}
