.home-page {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  color: #333;
}

.intro-text {
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6;
  color: #666;
}

.action-buttons {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}

.primary-btn {
  background-color: #cdb34c;
}

.primary-btn:hover {
  background-color: #c1a944;
}

.secondary-btn {
  background-color: #008CBA;
}

.secondary-btn:hover {
  background-color: #007bb5;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

.content-section {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
