.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px;
    height: auto;
}

.menu-icon {
    display: none;
    font-size: 1.5em;
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #007bff;
}

.nav-links .nav-button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links .nav-button:hover {
    color: #007bff;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-links .nav-button {
        position: absolute;
        right: 0;
        top: 60px;
        flex-direction: column;
        background-color: #f8f9fa;
        width: 100%;
        display: none;
        padding-top: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }
}
