.login-page {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  background: #ffffff;
  margin-top: 10px;
  padding: 2px;
}

.login-page input,
.login-page button {
  padding: 12px 20px;
  margin-top: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block;
  width: 100%;
  font-family: 'Arial', sans-serif; 
  font-size: 1em;
}

.login-page button {
  background-color: #cdb34c;
  color: white;
  border: none;
  cursor: pointer;
}

.login-page button:hover {
  background-color: #c1a944;
}

.login-page input {
  margin-bottom: 10px;
  width: 96%;
}
